*.o
.DS_Store
.bsp
.cache
.classpath
.cmake
.grader
.idea
.metals
.project
.settings
.venv
.vscode
__pycache__
a.out
bin
build
cmake-build-debug
data
my-grader-report.xml
my-submission.zip
scratch
target
