_*
.clang-format
.gdbinit
.vagrant/
.vscode
*-handin.tar.gz
*.asm
*.d
*.img
*.o
*.sym
*~
barrier
bootblock
entryother
initcode
initcode.out
kernel/kernel
kernelmemfs
mkfs
myapi.key
ph
submissions/
user/usys.S
vectors.S
xv6.out*
